<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{!-- {{navbar-header}} --}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "projects"}}Your Projects{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-10">
{{#if isAuthenticated}}
  {{outlet}}
{{else}}
<h1>Welcome to MyProjectManager</h1>
<p>This is a project manager designed to give you a start date based on how long the project will be,and tells you important date information. {{#link-to "sign-in"}}Sign in{{/link-to}} or {{#link-to "sign-up"}}sign up{{/link-to}} and start adding your projects!</p>
{{/if}}
</div>