  <h3>{{project.name}}</h3>
  {{log project}}
  <h4>Due: {{project.formattedDueDate}} at {{project.formattedDueTime}}</h4>
  {{#if project.startDate}}
  <h4>Start: {{project.formattedStartDate}} at {{project.formattedStartTime}}</h4>
  <h5>Project Length: {{project.formattedProjectLength}}</h5>
  {{/if}}
  <p>{{project.description}}</p>