{{log model.dueDate}}

{{input value=model.name type='text' placeholder='Project Name'}}
{{input value=model.inputDueDate type='date'}}
{{!-- {{input value=model.inputDueTime type='time'}} --}}
{{!-- {{input value=model.description type='text-area'}} --}}
<button {{action 'save' model}}>Save Project</button>
