<form {{action 'save' project on='submit'}}>
<label for="project-name">Project name</label>
{{input value=project.name type='text' placeholder='Project Name' required=true id='project-name'}}
<label for="project-due">Project due date</label>
{{input value=project.inputDueDate type='date' min=dateValidator required="true" id='project-due'}}
<label for="project-length">Estimated project length (in days)</label>
{{input value=project.inputProjectLength type='number' min=1 required="true" id='project-length'}}

{{!-- {{input value=project.inputStartDate type='date' min=startDateValidator required="true" id='project-start'}} --}}
{{!-- {{input value=project.inputDueTime type='time'}} --}}
<label for="project-descrip">Project description</label>
{{textarea value=project.description id="project-descrip"}}
<button type="submit" class="btn btn-primary">Save Project</button>
</form>
