{{input value=project.name type='text' placeholder='Project Name'}}
{{input value=project.inputDueDate type='date'}}
{{!-- {{input value=project.inputDueTime type='time'}} --}}
{{!-- {{input value=project.description type='text-area'}} --}}
<button {{action 'save' project}}>Save Project</button>