{{#if model}}
{{/if}}
<h2>{{model.name}}</h2>
<h3 class="bg-danger project-view-date-info">Project due on: {{model.displayDueDate}}</h3>
<h3 class="bg-warning project-view-date-info">Estimated project length: {{model.displayProjectLength}}</h3>
<h3 class="bg-warning project-view-date-info">Time to due date: {{model.displayTimeTillDue}}</h3>
<h3 class="bg-success project-view-date-info">Suggested start date: {{model.displayStartDate}}</h3>
{{#if model.description}}
<h4>Additional info</h4>
<p>{{model.description}}</p>
{{/if}}
{{project/project-inputs project=model save='saveProject'}}
